/* GLOBAL STYLES
——————————————————————————————————————————————*/
.body-main {
  font-family: 'Fira Sans', sans-serif;
  background-color: #eaebf0;
  background-image: url(../img/background.png);
  background-size: 20px 10px;
}

/* HEADER
——————————————————————————————————————————————*/
.siteheader {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.siteheader-container {
    display: flex;
}

.siteheader-logo {
  display: flex;
}

.siteheader-nav {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.siteheader-nav-link {
  margin-right: 2rem;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1;
  color: #3e4247;
}

/* HERO
——————————————————————————————————————————————*/
.hero {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000;
}

/* DISCOVER
——————————————————————————————————————————————*/

.discover-intro {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.discover-intro-title {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3e4247;
}

.discover-intro-text {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.discover-intro-button {
  padding-top: 13px;
  padding-left: 31px;
  padding-bottom: 13px;
  padding-right: 31px;
  border: 0;
  border-radius: 0.25rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* DISCOVER CARD
——————————————————————————————————————————————*/
.discover-card {
  display: flex;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in-out;
}

.discover-card:HOVER {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.discover-card-image {
  flex-shrink: 0;
  width: 468px;
  height: 350px;
}

.discover-card-link {
  display: block;
  text-decoration: none;
}

.discover-card-description {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  border-bottom-color: #646971;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  text-align: left;
  background-color: #fff;
}

.discover-card-area {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  text-transform: uppercase;
  color: #646971;
}

.discover-card-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.discover-card-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #3e4247;
}

/* FOOTER
——————————————————————————————————————————————*/
.footer-main {
  margin-top: 3rem;
  padding-top: 2rem;
  background-color: #111;
}

.footer-wrap {
  justify-content: center;
}

.footer-block-title {
  padding: 0;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  color: #646971;
}

.footer-block-link {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.footer-block-link-all {
  display: block;
  margin-top: 1rem;
  padding-right: 1rem;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.footer-imprint-text {
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: #a9afb6;
}

.footer-imprint-link {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #a9afb6;
}

.footer-line {
  margin-bottom: 1rem;
  width: 100%;
  height: 0.125rem;
  border-style: solid;
  background-color: #3e4247;
}

.footer-disclaimer {
  justify-content: center;
}

.footer-disclaimer-text {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.4;
  color: #a9afb6;
}
